.App .MuiAppBar-colorPrimary{
  background-color: #715728f5;
}
.disableLink{
  pointer-events: none;
  color: #ccc;
}
.MuiContainer-maxWidthXs{
  -webkit-box-shadow: -1px -1px 5px 3px black;
-moz-box-shadow: -1px -1px 5px 3px black;
box-shadow: -1px -1px 5px 3px black;
}
.navHeader{
  display:flex;
}
.btn {
  display: inline-block;
  background: #ced3d6;
  color: var(--dark-color);
  padding: 0.5rem 1.4rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333344;
}
element.style {
  background-color: #495057;
  height: 100%;
}

md-nav-bar .md-nav-bar {
  background: yellow;
}
disableLink{
  pointer-events: none;
  color: #ccc;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid  black;
}

thead th:nth-child(1) {
  width: 100%;
}

thead th:nth-child(2) {
  width: 100%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;

}
/* html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
} */

/* thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}
 */
th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
} */